p {
    font-size: 20px;
    margin: 10px;
}

h2 {
    font-size: 40px;
    color: #ffbb00;
    margin: 15px;
}



header {
    background: #FFD700;
    color: white;
    border-bottom: #ffe866 solid 5px;
}

body {
    background: #fffbf0;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Bahnschrift10 2 10 2}

header nav ul {
    display: flex;
    margin: 20px;
}

.secao {
    justify-content: space-between;
    display: flex;
    /*border: 2px red solid;*/
    max-width: 1300px;
    margin: 0 auto;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

header h1 {
    margin: 20px;
    font-size: 40px;
  /*  border: 2px solid red */
}

header nav ul a {
    margin: 20px;
    color: black;
    font-size: 20px;
    text-decoration: none;
}

header nav ul a:hover {
    color: #ff7b00;
}



.aba h3 {
    border: 2px solid red;
}
/* Abas */

.abas {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

/* Aba 1 */

.aba1 {
    background: #ff7b00;
    padding: 15px;
    max-width: 260px;
    text-align: center;
    border-radius: 20px;
    padding-bottom: 30px;
    border: 5px solid #ff9d41;
    margin: 10px;
}

.aba1 a {
    text-decoration: none;
    background: #ffd000;
    border: 5px solid #ffd723;
    color: black;
    padding: 9px;
    border-radius: 15px;
}

.aba1 a:hover {
    background-color: #ffe46a;
    border: 5px solid #ffeb8f
}

.aba1 h3 {
    font-size: 35px;
    color: #ffd000;
}

.aba1 p {
    padding-bottom: 15px;
}
/* Aba 2 */

.aba2 {
    background: #ffd000;
    padding: 15px;
    max-width: 260px;
    text-align: center;
    border-radius: 20px;
    padding-bottom: 30px;
    border: 5px solid #ffe573;
    margin: 10pxa;
}

.aba2 a {
    text-decoration: none;
    background: #ff7b00;
    border: 5px solid #ff9d41;
    color: black;
    padding: 9px;
    border-radius: 15px;
}

.aba2 a:hover {
    background-color: #ff9d41;
    border: 5px solid #ffb56f;
}

.aba2 h3 {
    font-size: 35px;
    color: #ff7b00;
}

.aba2 p {
    padding-bottom: 15px;
}