* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Bahnschrift'
}

.container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}
    
p {
    font-size: 20px;
    margin: 10px;
}

h2 {
    font-size: 60px;
    color: #ffbb00;
    margin: 15px;
}

a {
    text-decoration: none;
    color: #ff7b00;
}

header {
    background: #FFD700;
    color: white;
    border-bottom: #ffe866 solid 5px;
}

body {
    background: #fffbf0;
}

header nav ul {
    display: flex;
    margin: 20px;
}

.secao {
    justify-content: space-between;
    display: flex;
    /*border: 2px red solid;*/
    max-width: 1300px;
    margin: 0 auto;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

header h1 {
    margin: 20px;
    font-size: 40px;
  /*  border: 2px solid red */
}

header nav ul a {
    margin: 20px;
    color: black;
    font-size: 20px;
    text-decoration: none;
}

header nav ul a:hover {
    color: #ff7b00;
}

a:hover {
    color: #ffd900;
}

/* Abas */

.abas {
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* border: 2px solid red; */
}

.abas p {
    font-size: 30px;
    margin-bottom: 30px;
}

/* Aba 1 */

.aba1 {
    background: #ffe9ad;
    padding: 99px;
    text-align: center;
   
}

.aba1 a {
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    background: #ffbb00;
    color: black;
    padding: 25px;
    border-radius: 999px;
}

.aba1 a:hover {
    background-color: #ffd152;

}

.aba1 h3 {
    font-size: 80px;
    color: #d8a600;
}

.aba1 p {
    padding-bottom: 15px;
}

/* Aba 2 */

.aba2 {
    background: #fff8b4;
  
}

.aba2 a {
    background: #ffa600;
}

.aba2 a:hover {
    background-color: #ffb936;

}

.aba2 h3 {
    color: #dd8500;
}

/* Aba 3 */

.aba3 {
    background: #f9ffd9;
}

.aba3 h3 {
    color: #ddc700;
}

.aba3 a {
    background: #f1d900;
}

.aba3 a:hover {
    background-color: #ffed4c;
}

/* rodape */

footer {
    background-color: #FFD700;
    padding: 15px;
    color: white;
    text-align: center;
    border-top: #ffe866 solid 5px;
}